.home{
  padding-bottom: 50px;
}
.app {
    height: 100vh;
    display: flex !important;
    flex-direction: column;
  }
  
  .top {
    flex: 0;
    border-bottom: solid 1px var(--adm-color-border);
  }
  
  .body {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .bottom {
    flex: 0;
    border-top: solid 1px var(--adm-color-border);
  }
.home.iconfont{
    font-size: 20px;
    padding:0 17.875px 0 17.875px;
}
.am-tab-bar-bar{
    position: fixed;
    bottom:0;
    width:100%;
    display: flex;
}
.am-tab-bar-bar > .am-tab-bar-tab{
  padding:0 9% 0 9%;
  
}
.am-tab-bar-bar > .am-tab-bar-tab > .am-tab-bar-tab-icon{
  padding:0 9% 0 9%;
}
    
    


