.citylist{
    .navbar{
        background-color: #f6f5f6;
        color:#333;
        display: flex;
        .am-navbar-title{
            color:#333;
            display: flex;
            font-size: 30px;
        }
    }
} 
